{% extends 'todo_list/base.html' %}

{% block content %}

<h1>詳細ページ</h1>
<table class="table table-bordered m-1">
    <tr>
        <th>Id</th>
        <td>{{ todo.id }}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{ todo.title }}</td>
    </tr>
    <tr>
        <th>Text</th>
        <td>{{ todo.text }}</td>
    </tr>
</table>

<a class="btn btn-primary m-1" href="{% url 'todo_list:index' %}">戻る</a>
<a class="btn btn-primary m-1" href="{% url 'todo_list:edit_todo' todo.pk %}">編集</a>
<form method="post" action="{% url 'todo_list:delete_todo' todo.pk %}">{% csrf_token %}
  <button class="btn btn-danger m-1" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
</form>

{% endblock %}