{% extends 'todo_list/base.html' %}

{% block content %}

<a class="btn btn-primary m-1" href="{% url 'todo_list:new_todo' %}">新規作成</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for todo in todos %}
    <tr>
      <th scope="row"><a href="{% url 'todo_list:detail' todo.id %}">{{ todo.id }}</a></th>
      <td>{{ todo.title }}</td>
      <td>{{ todo.updated_datetime }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}