{% extends 'todo_list/base.html' %}

{% block content %}

<a class="btn btn-primary m-1" href="{% url 'todo_list:index' %}">ホームに戻る</a>

<form action="{% url 'todo_list:new_todo' %}" method="POST">{% csrf_token %}
  <table class="table table-bordered m-1">
    <tr>
      <th>タイトル</th>
      <td>{{ form.title }}</td>
    </tr>
    <tr>
      <th>テキスト</th>
      <td>{{ form.text }}</td>
    </tr>
  </table>
  <button class="btn btn-success" type="submit" class="btn">保存</button>
</form>

{% endblock %}